---
import Code from '../../components/Code.astro'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../doc/**/*.md')

  return posts.map((post) => {
    return {
      params: {
        slug: post.frontmatter.slug,
        category: post.file.split('/').at(-2),
      },

      props: { ...post },
    }
  })
}

const { Content, frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title + ' | Projet MSX'}
  description={frontmatter?.description}
>
  <article>
    <h1>{frontmatter.title}</h1>
    <div class="content">
      <Content />
    </div>

    {
      frontmatter.code && (
        <Code url={frontmatter.code} lang={frontmatter?.lang || 'basic'} />
      )
    }
    <!-- {astro.html} -->
  </article>
</Layout>

<style>
  article {
    padding: 0 20px;
  }

  .content {
    max-width: 600px;
  }
</style>
