---
import Layout from '../layouts/Layout.astro'
---

<Layout title="PROJET MSX">
  <main>
    <h1>Bienvenue sur le <span class="text-gradient">Projet MSX</span></h1>
    <p>Retrouvez ici toute la documentation sur la création du jeu.</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    white-space: nowrap;
  }
</style>
